EnsamMain.pdf

*.aux
EnsamMain.acn
EnsamMain.acr
EnsamMain.alg
EnsamMain.bbl
EnsamMain.bcf
EnsamMain.blg
EnsamMain.glg
EnsamMain.glo
EnsamMain.gls
EnsamMain.ist
EnsamMain.lof
EnsamMain.log
EnsamMain.lot
EnsamMain.out
EnsamMain.run.xml
EnsamMain.synctex.gz
EnsamMain.toc
indent.log
EnsamMain.err

_minted-EnsamMain/
